<form class="row" [formGroup]="form" (ngSubmit)="onSubmit()">
	<div class="col-md-6">
		<app-destination-header prefix="From" [domestic]="true"></app-destination-header>
		<div class="row g-3" formGroupName="shipperDetails">
			<div class="col-12 d-none">
				<select
					formControlName="countryCode"
					class="form-select"
					required
				>
					<option value="CA">Canada</option>
				</select>
			</div>
			<div class="col-6">
				<app-dropdown placeholder="Postal Code" 
					[options]="shipperPostalCodes"	
					formControlName="postalCode"
					[debounce]="600"
					[required]="true"
					(valueChange)="onPostalCodeChanged($event, FromEnum.SHIPPER)"
					(select)="onAddressSelect($event, 'postalCode', FromEnum.SHIPPER)"
				><span class="input-group-text" id="basic-addon1">$</span></app-dropdown>
			</div>
			<div class="col-md-6">
				<app-dropdown placeholder="City"
					formControlName="cityName"
					[options]="shipperCities"	
					[required]="true"
					[debounce]="600"
					(valueChange)="onCityNameChanged($event, FromEnum.SHIPPER)"
					(select)="onAddressSelect($event, 'cityName', FromEnum.SHIPPER)"
				/>
			</div>
			<div class="col-md-12">
				<input
					class="form-control"
					type="text"
					formControlName="provinceCode"
					placeholder="Province"
					aria-label="Province"
          maxlength="35"
					appTrimText
				/>
			</div>
			<div class="col-md-12">
				<label>* Required Information</label>
			</div>
		</div>
	</div>
	<div class="col-md-6" formGroupName="receiverDetails">
		<app-destination-header prefix="To" [domestic]="domestic"></app-destination-header>
		<div class="row g-3">
			<div class="col-12" *ngIf="!domestic">
				<app-dropdown placeholder="Country" 
					[options]="countries"	
					formControlName="countryCode" 
					[required]="true"
					(select)="onCountrySelect($event)"
				/>
			</div>
			<div class="col-6">
				<app-dropdown placeholder="Postal Code" 
					[options]="postalCodes"	
					formControlName="postalCode"
					[debounce]="600"
					[required]="requirePostalCode"
					(valueChange)="onPostalCodeChanged($event, FromEnum.RECEIVER)"
					(select)="onAddressSelect($event, 'postalCode', FromEnum.RECEIVER)"
				/>
			</div>
			<div class="col-md-6">
				<app-dropdown placeholder="City"
					formControlName="cityName"
					[options]="cities"	
					[required]="true"
					[debounce]="600"
					(valueChange)="onCityNameChanged($event, FromEnum.RECEIVER)"
					(select)="onAddressSelect($event, 'cityName', FromEnum.RECEIVER)"
				/>
			</div>
			<div class="col-md-12">
				<input
					class="form-control"
					type="text"
					formControlName="provinceName"
					placeholder="Province"
					aria-label="Province"
          maxlength="35"
					appTrimText
				/>
			</div>
		</div>
	</div>
	<ng-container *ngIf="isParcelPackage">
		<div class="col-md-6">
			<img src="assets/images/package.svg" width="90%" alt="Package dimension">
		</div>
		<div class="col-md-6 packages">
			<!-- <div class="row g-3 p-1">
				<div class="col-md-2">
					<label class="form-label text-center"
						>Length(ln)
					</label>
				</div>
				<div class="col-md-2">
					<label class="form-label">Width(ln) </label>
				</div>
				<div class="col-md-2">
					<label class="form-label">Height(ln) </label>
				</div>
				<div class="col-md-2">
					<label class="form-label">Weight(LB) </label>
				</div>
			</div> -->
			<div formArrayName="packages">
				<div class="row g-3 p-2 mt-3 package"
					*ngFor="let item of packages; let i = index; let isLast=last; trackBy: trackByIndex"
					formGroupName="{{i}}">
				<div class="col-md-5">
					<label class="form-label d-block h5">Weight *</label>
					<input
						class="form-control d-inline w-75"
						type="number"
						formControlName="weight"
						min="1"
						max="9999"
						placeholder="Weight"
						aria-label="Weight"
					/><div class="px-1 d-inline h5">lbs</div>
				</div>
				<div class="col-md-5">
					<label class="form-label d-block h5"
						>Length *
					</label>
					<input
						class="form-control d-inline w-75"
						type="number"
						formControlName="length"
						placeholder="Length"
						min="1"
						max="9999"
						aria-label="Length"
					/><div class="px-1 d-inline h5">ln</div>
				</div>
				<div class="col-md-5">
					<label class="form-label d-block h5">Width *</label>
					<input
						class="form-control d-inline w-75"
						type="number" 
						formControlName="width"
						placeholder="Width"
						min="1"
						max="9999"
						aria-label="Width"
					/><div class="px-1 d-inline h5">ln</div>
				</div>
				<div class="col-md-5">
					<label class="form-label d-block h5">Height *</label>
					<input
						class="form-control d-inline w-75"
						type="number"
						formControlName="height"
						min="1"
						max="9999"
						placeholder="Height"
						aria-label="Height"
					/><div class="px-1 d-inline h5">ln</div>
				</div>
				<div class="col-md-2" *ngIf="!rateResponse">
					<div class="col-md-6" *ngIf="!isLast">
						<div class="text-center fs-4" role="button" (click)="removePackage(i)">-</div>
					</div>
					<div class="col-md-6" *ngIf="isLast">
						<div class="text-center fs-4" role="button" (click)="addPackage()">+</div>
					</div>
				</div>
			</div>
			</div>
			<div class="col-md-12 p-2 w-75 d-none" *ngIf="!!rateResponse">
				<input
					class="form-control"
					type="text"
					formControlName="verification"
					placeholder="Verification Code (Ask the Clerk)"
					aria-label="Verification"
					pattern="test_123"
					[required]="!!rateResponse"
				/>
			</div>
		</div>
	</ng-container>
	<div class="text-center col-12 p-3" *ngIf="!rateResponse">
		<button
			type="submit"
			class="btn btn-danger btn-lg "
			[disabled]="!form.valid"
		>
			Get Rates
		</button>
	</div>
	<div class="text-center col-12 p-3" *ngIf="!!rateResponse">
		<button type="button" class="btn btn-danger btn-lg" (click)="onReset()">
			Reset
		</button>
	</div>
</form>
