.app-header {
  margin-bottom: 0.5rem;
}

.selection {
  background-color: var(--bs-gray-100);
  cursor: pointer;
  color: var(--bs-gray-600);
}

img {
  width: 250px;
  height: 150px;
  margin-bottom: 1.2rem;
}

.button {
  width: 80%;
  height: 45px;
}
