<form class="row" [formGroup]="form" (ngSubmit)="onSubmit()">
	<div class="col-md-6">
		<app-destination-header prefix="From" [domestic]="true"></app-destination-header>
		<div class="row g-3" formGroupName="shipperDetails">
      <div class="col-12 input-group">
        <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
        </svg></span>
				<input
					class="form-control"
					type="text"
					formControlName="fullName"
					placeholder="Your Name *"
					aria-label="Your Name"
					maxlength="70"
          required
					appTrimText
				/>
			</div>
      <div class="col-12 input-group">
        <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
          <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
          <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
        </svg></span>
				<input
					class="form-control"
					type="text"
					formControlName="addressLine1"
					placeholder="Your Home Address *"
					aria-label="Your Home Address"
          maxlength="45"
          required
					appTrimText
				/>
			</div>
			<div class="col-6">
				<input
					class="form-control"
					type="text"
					formControlName="postalCode"
					placeholder="Postal Code *"
					aria-label="Postal Code"
          required
          readonly
				/>
			</div>
      <div class="col-6">
				<input
					class="form-control"
					type="text"
					formControlName="cityName"
					placeholder="Your City *"
					aria-label="Your City"
          required
          readonly
				/>
			</div>
      <div class="col-12">
				<input
					class="form-control"
					type="text"
					formControlName="phone"
					placeholder="Your Phone Number *"
					aria-label="Your Phone Number"
					required
					maxlength="13"
					appMask="(000)000-0000"
				/>
			</div>
      <div class="col-12">
				<input
					class="form-control"
					type="email"
					pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
					formControlName="email"
					placeholder="Your Email (for tracking #) *"
					aria-label="Your Email (for tracking #)"
					maxlength="70"
					appTrimText
					required
				/>
			</div>
			<div class="col-md-12">
				<label>* Required Information</label>
			</div>
		</div>
	</div>
  <div class="col-md-6">
		<app-destination-header prefix="To" [domestic]="domestic"></app-destination-header>
		<div class="row g-3" formGroupName="receiverDetails">
      <div class="col-12 input-group">
        <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
        </svg></span>
				<input
					class="form-control"
					type="text"
					formControlName="fullName"
					placeholder="Recipient Name *"
					aria-label="Recipient Name"
          maxlength="70"
          required
					appTrimText
				/>
			</div>
			<div class="col-12" *ngIf="!domestic">
				<app-dropdown placeholder="Shipping Country" 
					[options]="countries"	
					formControlName="countryCode" 
					[required]="true"
          [readonly]="true"
				/>
			</div>
      <div class="col-12">
				<input
					class="form-control"
					type="text"
					formControlName="addressLine1"
					placeholder="Shipping Address *"
					aria-label="Shipping Address"
          required
					maxlength="45"
					appTrimText
				/>
			</div>
      <div class="col-6">
				<input
					class="form-control"
					type="text"
					formControlName="provinceName"
					placeholder="Province"
					aria-label="Province"
					maxlength="45"
					readonly
				/>
			</div>
      <div class="col-6">
				<input
					class="form-control"
					type="text"
					formControlName="cityName"
					placeholder="Shipping City *"
					aria-label="Shipping City"
          required="true"
          readonly
				/>
			</div>
			<div class="col-12">
				<input
					class="form-control"
					type="text"
					formControlName="postalCode"
					placeholder="Postal Code *"
					aria-label="Postal Code"
          required="true"
          readonly
				/>
			</div>
      <div class="col-12">
				<input
					*ngIf="!isUsOrCa"
					class="form-control"
					type="text"
					formControlName="phone"
					placeholder="Phone *"
					aria-label="Phone"
          required
					pattern="^[0-9]*$"
					maxlength="45"
					appTrimText
				/>
				<input
					*ngIf="isUsOrCa"
					class="form-control"
					type="text"
					formControlName="phone"
					placeholder="Phone Number(recipient) *"
					aria-label="Phone Number(recipient)"
					required
					maxlength="13"
					appMask="(000)000-0000"
				/>
			</div>
		</div>
	</div>

	<div class="text-center col-12 p-3">
		<button
			type="submit"
			class="btn btn-danger btn-lg"
			[disabled]="!form.valid"
		>
			Confirm
		</button>
	</div>
</form>
