<form class="row" [formGroup]="form" (ngSubmit)="onSubmit()">
	<div class="col-md-6">
		<app-destination-header prefix="From" [domestic]="true"></app-destination-header>
		<div class="row g-3" formGroupName="shipperDetails">
      <div class="col-12 input-group">
        <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
        </svg></span>
				<input
					class="form-control"
					type="text"
					formControlName="fullName"
					placeholder="Customer Name *"
					aria-label="Customer Name"
					maxlength="70"
          required
					appTrimText
				/>
			</div>
      <div class="col-12 input-group">
        <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
          <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"/>
        </svg></span>
				<input
					class="form-control"
					type="text"
					formControlName="companyName"
					placeholder="Company Name"
					aria-label="Company Name"
					maxlength="70"
					appTrimText
				/>
			</div>
      <div class="col-12 input-group">
        <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
          <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
          <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
        </svg></span>
				<input
					class="form-control"
					type="text"
					formControlName="addressLine1"
					placeholder="Address Line 1 *"
					aria-label="Address Line 1"
          maxlength="45"
          required
					appTrimText
				/>
			</div>
      <div class="col-12">
				<input
					class="form-control"
					type="text"
					formControlName="addressLine2"
					placeholder="Address Line 2"
					aria-label="Address Line 2"
					maxlength="45"
					appTrimText
				/>
			</div>
      <div class="col-12">
				<input
					class="form-control"
					type="text"
					formControlName="addressLine3"
					placeholder="Address Line 3"
					aria-label="Address Line 3"
          required
          readonly
				/>
			</div>
      <div class="col-12">
				<input
					class="form-control"
					type="text"
					formControlName="phone"
					placeholder="Phone *"
					aria-label="Phone"
					required
					maxlength="13"
					appMask="(000)000-0000"
				/>
			</div>
      <div class="col-12">
				<input
					class="form-control"
					type="email"
					pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
					formControlName="email"
					placeholder="Email *"
					aria-label="Email"
					maxlength="70"
					appTrimText
					required
				/>
			</div>
			<div class="col-md-12">
				<label>* Required Information</label>
			</div>
		</div>
	</div>
  <div class="col-md-6">
		<app-destination-header prefix="To" [domestic]="domestic"></app-destination-header>
		<div class="row g-3" formGroupName="receiverDetails">
      <div class="col-12 input-group">
        <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
        </svg></span>
				<input
					class="form-control"
					type="text"
					formControlName="fullName"
					placeholder="Customer Name *"
					aria-label="Customer Name"
          maxlength="70"
          required
					appTrimText
				/>
			</div>
      <div class="col-12 input-group">
        <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
          <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"/>
        </svg></span>
				<input
					class="form-control"
					type="text"
					formControlName="companyName"
					placeholder="Company Name"
					aria-label="Company Name"
					maxlength="70"
					appTrimText
				/>
			</div>
      <div class="col-12">
				<input
					class="form-control"
					type="text"
					formControlName="addressLine1"
					placeholder="Address Line 1 *"
					aria-label="Address Line 1"
          required
					maxlength="45"
					appTrimText
				/>
			</div>
      <div class="col-12">
				<input
					class="form-control"
					type="text"
					formControlName="addressLine2"
					placeholder="Address Line 2"
					aria-label="Address Line 2"
					maxlength="45"
					appTrimText
				/>
			</div>
      <div class="col-12">
				<input
					class="form-control"
					type="text"
					formControlName="addressLine3"
					placeholder="Address Line 3"
					aria-label="Address Line 3"
          required="true"
          readonly
				/>
			</div>
      <div class="col-12">
				<input
					*ngIf="!isUsOrCa"
					class="form-control"
					type="text"
					formControlName="phone"
					placeholder="Phone *"
					aria-label="Phone"
          required
					pattern="^[0-9]*$"
					maxlength="45"
					appTrimText
				/>
				<input
					*ngIf="isUsOrCa"
					class="form-control"
					type="text"
					formControlName="phone"
					placeholder="Phone *"
					aria-label="Phone"
					required
					maxlength="13"
					appMask="(000)000-0000"
				/>
			</div>
      <div class="col-12">
				<input
					class="form-control"
					type="email"
					pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
					formControlName="email"
					placeholder="Email"
					aria-label="Email"
					maxlength="70"
					appTrimText
				/>
			</div>
		</div>
	</div>

	<div class="text-center col-12 p-3">
		<button
			type="submit"
			class="btn btn-danger btn-lg"
			[disabled]="!form.valid"
		>
			Confirm
		</button>
	</div>
</form>
