.rate-details {
  background-color: red;
  width: 360px;
  margin: 0 auto;
  border-radius: 15px;
  cursor: pointer;
  color: #fff;
}

.logo_dhl {
	margin-top: 1rem;
  margin-bottom: 1rem;
	width: 300px;
}
