<div class="container">
  <app-header (goback)="goback()" [step]="4" [steps]="steps$ | async"></app-header>
  <div class="page-title">Quick Quote</div>
  <div class="content">
    <app-rate-request-form
      [parcel]="parcel$ | async"
      [destination]="destination$ | async"
      [rateResponse]="rateResponse$ | async"
      [addressbooks]="addressbooks$ | async"
      [shipperAddressbooks]="shipperAddressbooks$ | async"
      (submitForm)="onSubmit($event)"
      (addressChange)="onAddressChange($event)"
      (countryChange)="onCountryChange()"
    ></app-rate-request-form>
    <div class="row mb-3 mt-2" *ngIf="rateResponse$ | async">
      <app-rate-box
        class="col-md-4 offset-md-4 text-center"
        [rate]="(rateResponse$ | async)?.rate"
        [estimatedTransitDays]="(rateResponse$ | async)?.estimatedTransitDays" />

      <div class="col-md-2 offset-md-2 d-flex align-items-end">
        <button type="button" class="btn btn-danger btn-lg" (click)="onReset()">
          Reset
        </button>
        <button
          type="button"
          class="btn btn-danger btn-lg mx-2"
          (click)="createShipment()"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</div>