<div class="container">
  <app-header (goback)="goback()" [step]="4" [steps]="steps$ | async"></app-header>
  <div class="page-title">Quick Quote</div>
  <div class="content">
    <app-rate-request-form
      [parcel]="parcel$ | async"
      [destination]="destination$ | async"
      [rateResponse]="rateResponse$ | async"
      [addressbooks]="addressbooks$ | async"
      [shipperAddressbooks]="shipperAddressbooks$ | async"
      (submitForm)="onSubmit($event)"
      (resetForm)="onReset()"
      (addressChange)="onAddressChange($event)"
      (countryChange)="onCountryChange()"
    ></app-rate-request-form>
    <div class="row" *ngIf="rateResponse$ | async">
      <div class="col-md-4 offset-md-4 rate text-center ">
        <div>
          <img class="logo_dhl" src="assets/images/dhl-log.svg" />
        </div>
        <div class="rate-details" (click)="createShipment()">
          <!-- <h4>Express Worldwide</h4> -->
          <h1>${{ (rateResponse$ | async)?.rate || 245.47}}</h1>
          <div>Estimated Transit Time</div>
          <h5>{{ (rateResponse$ | async)?.estimatedTransitDays }} Days Shipping</h5>
          <!-- <h4>Tap here to Accept & Continue</h4> -->
        </div>
      </div>
      <div class="col-md-2 offset-md-2 d-flex align-items-end">
        <button
          type="button"
          class="btn btn-danger btn-lg "
          (click)="createShipment()"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</div>